

.box{
    padding: 40px;
    margin: 100px auto;
    background-color: antiquewhite;
    width: 40%;
}
h3 {
  color: green;
  text-align: center;
}
h2{
    text-align: center;
}
.card {
  margin: 100px auto;
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
}
a {
  text-decoration: none;
  color: white;
  background: crimson;
  padding: 10px 20px;
  border-radius: 5px;
}
a:hover {
  background: darkred;
}
.logout-btn{
    display: block;
    margin: 0 auto;
    width: 20%;
    text-align: center;
}